.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.requestEditor {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.requestTool {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.editor {
  overflow: auto;
  height: 100%;
}
