.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4px;
  border-radius: var(--main-border-radius);
  backdrop-filter: blur(24px);
  border: 1px solid #000;

  &__list {
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    text-align: center;

    &:hover {
      color: rgb(51 60 77);
    }
  }
}

.git {
  &__list {
    display: flex;
    justify-content: end;
    gap: 8px;
    text-align: center;
    width: 100%;
    align-items: center;
  }

  &__item {
    font-size: 16px;
    line-height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;

    > img {
      width: 16px;
      height: 16px;
    }

    &:hover {
      color: rgb(51 60 77);
    }
  }
}
