.header {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow: auto;
  padding: 4px;
  gap: 4px;
  border: 1px solid #000;
}

.buttons {
  display: flex;
  gap: 4px;
}
